/bulk-stream/.gradle/
/bulk-stream/build/
/bulk-upload/.gradle/
/bulk-upload/src/main/java/
/bulk-upload/src/main/resources/
/bulk-upload/build/
/bulk-trigger/build/
/bulk-multi/build/
/bulk-trace/api/build/
/bulk-trace/api/.gradle
/buildSrc/build/
/buildSrc/.gradle
/tilt_modules/
/.idea/
/.helm/
/.gradle/
/.dcignore
.kenv-machine
