/bulk-stream/.gradle/
/bulk-stream/build/
/bulk-upload/.gradle/
/bulk-upload/src/main/java/
/bulk-upload/src/main/resources/
/bulk-upload/build/
/bulk-trigger/build/
/bulk-multi/build/
/tilt_modules/
/.idea/
/.helm/
/.gradle/
/.dcignore
